/*!
 * Generated tables and placed css separately for modularity 
 * For details, see http://www.tablesgenerator.com/html_tables#
 */
 
 .tg  {
border-collapse:collapse;
border-spacing:0;
border-color:#ccc;
border:none;
}
.tg td{
font-family:Arial, sans-serif;
font-size:14px;
padding:16px 20px;
border-style:solid;
border-width:0px;
overflow:hidden;
word-break:normal;
border-color:#ccc;
color:#333;
background-color:#fff;
}
.tg th{
font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:16px 20px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;
}
.tg .tg-6eq8{
color:#333333
}
.tg .tg-4xgv{
background-color:#ffffff;color:#b9c9fe
}
.tg .tg-s2ka{
background-color:#ffffff;color:#343434
}
.tg .tg-4eph{
background-color:#f9f9f9
}
.tg .tg-fejy{
background-color:#f9f9f9;color:#343434
}
.tg .tg-b7b8{
background-color:#f9f9f9;vertical-align:top
}
.tg .tg-98kr{
background-color:#f9f9f9;color:#343434;vertical-align:top
}

@media screen and (max-width: 767px) 
{
.tg {
width: auto !important;
}
.tg col {
width: auto !important;
}
.tg-wrap {
overflow-x: auto;-webkit-overflow-scrolling: touch;
}
}
